.container {
  color: white;
  margin: auto;
  margin-bottom: 100px;
}

.body {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.body .container{
  display: flex;
  justify-content: space-around;
}
